<nav class="navbar navbar-expand-lg navbar-light bg-light bespoke-navbar">
  <div class="container-fluid">
    <%# <a class="navbar-brand" href="#">Super Market</a> %>
    <%= link_to root_path, class: 'navbar-brand' do %>
      <div class='d-flex align-items-center'>
        <i class='fa-solid fa-screwdriver-wrench'></i> <span class='logo-name'>Super Market</span>
      </div>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex  p-2">
        <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
        <button class="btn btn-secondary" type="submit">Search</button>
      </form>
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <li class="nav-item p-2">
          <%= link_to "Editar cuenta", edit_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item p-2">
          <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: 'nav-link'%>
        </li>
        <% else %>
          <li class="nav-item p-2">
            <%= link_to user_session_path, class: 'nav-link active' do %>
              <i class="fas fa-user-alt"></i>&nbsp;Login
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
