<section style="background-color: #F5F5F5; height: 90vh;" class="pt-4 pb-4">
  <div class="container">
    <div class="text-end mb-3">
      <div class="dropdown">

        <% if user_signed_in? %>
          <%= link_to 'Nuevo Producto', new_product_path, class: 'btn btn-light' %>
        <% end %>

        <div class="btn-group ms-2">
          <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Categorías
          </button>
          <ul class="dropdown-menu">
            <% @categories.each_with_index do |category, index| %>
              <li><%= link_to category.name, products_path(:query => category.id), class: 'dropdown-item', method: :get %></li>
            <% end %>
          </ul>
        </div>

      </div>
    </div>
    <% if @products.count == 0 %>
      <div class="container-no-products">
        <p>No hay producto que coincida con la busqueda</p>
      </div>
    <% else %>
      <div class="auto-grid">
        <% @products.each_with_index do |product, index| %>
          <div class="product-grid">
              <%= render 'list_products_not_deleted.html', product: product %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
